.carousel-inner,.item, img { 
  width:100%; 
  height:300px; 
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 30px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 30px;
  color: black;
}

.carousel-content {
    position: absolute;
    bottom: 10%;
    left: 5%;
    z-index: 20;
    color: white;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
  }

  .footer_widgets {
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
  .footer_bg {
    background: #ededed;
  }
  
  .footer_bg .footer_widgets {
    border: none;
  }
  
  .f_w_title {
    padding-bottom: 30px;
  }
  
  .f_w_title h3 {
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #0b1033;
    position: relative;
    display: inline-block;
    padding-bottom: 15px;
  }
  
  .f_w_title h3:before {
    content: "";
    width: 100%;
    height: 1px;
    background: #cccccc;
    position: absolute;
    left: 0px;
    bottom: 0px;
  }
  
  .f_about_widget {
    text-align: center;
  }
  
  .f_about_widget p {
    font-size: 12.98px;
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    color: #999999;
    line-height: 25.95px;
    letter-spacing: .3245px;
    max-width: 270px;
    margin: auto;
    padding: 30px 0px 15px 0px;
  }
  
  .f_about_widget h6 {
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #0b1033;
    display: inline-block;
  }
  
  .f_about_widget ul {
    display: inline-block;
    
  }
  
  .f_about_widget ul li {
    display: inline-block;
    margin-left: 10px;
    
  }
  
  .f_about_widget ul li a {
    font-size: 14px;
    color: #0b1033;
    -webkit-transition: all 400ms linear 0s;
    -o-transition: all 400ms linear 0s;
    transition: all 400ms linear 0s;
    
  }
  
  .f_about_widget ul li:first-child {
    margin-left: 8px;
  }
  
  .f_about_widget ul li:hover a {
    color: #d91522;
  }
  
  .f_about_widget h5 {
    font-size: 13px;
    color: #999999;
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    padding-top: 12px;
  }
  
  .f_about_widget h5 a {
    color: #0b1033;
    font-weight: 600;
  }
  
  .link_widget ul li a {
    font-size: 13px;
    line-height: 30px;
    font-family: "Poppins", sans-serif;
    color: #797b7b;
    font-weight: 400;
    -webkit-transition: all 400ms linear 0s;
    -o-transition: all 400ms linear 0s;
    transition: all 400ms linear 0s;
  }
  
  .link_widget ul li:hover a {
    color: #d91522;
  }
  
  .f_extra_widget {
    padding-left: 30px;
  }
  
  .footer_copyright {
    text-align: center;
    padding: 16.5px 0px;
  }
  
  .footer_copyright h5 {
    font-size: 13px;
    color: #999999;
    font-family: "Poppins", sans-serif;
  }
  .background{
    background-color: lightgoldenrodyellow;
  }
  
  .footer_copyright h5 a {
    color: #0b1033;
    -webkit-transition: all 400ms linear 0s;
    -o-transition: all 400ms linear 0s;
    transition: all 400ms linear 0s;
  }
  
  .footer_copyright h5 a:hover {
    color: #d91522;
  }


  /* Parallax Footer Area css
============================================================================================ */
.footer_copy_area {
position: absolute;
left: 0px;
bottom: 27px;
width: 100%;
padding: 0px 80px;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
}

.footer_copy_area .left_text {
display: -webkit-inline-box;
display: -ms-inline-flexbox;
display: inline-flex;
width: 50%;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
-ms-flex-direction: row;
flex-direction: row;
}

.footer_copy_area .left_text h5 {
font-size: 13px;
color: #999999;
font-family: "Poppins", sans-serif;
}

.footer_copy_area .left_text h5 a {
color: #000;
font-weight: bold;
}

.footer_copy_area .middle_text {
display: -webkit-inline-box;
display: -ms-inline-flexbox;
display: inline-flex;
float: none;
width: 200px;
}

.footer_copy_area .middle_text p {
font-size: 13px;
font-family: "Poppins", sans-serif;
color: #999999;
white-space: nowrap;
}

.footer_copy_area .right_text {
display: -webkit-inline-box;
display: -ms-inline-flexbox;
display: inline-flex;
width: 50%;
-webkit-box-orient: horizontal;
-webkit-box-direction: reverse;
-ms-flex-direction: row-reverse;
flex-direction: row-reverse;
}

.footer_social li {
display: inline-block;
margin-left: 15px;
}

.footer_social li a {
font-size: 14px;
color: #0b1033;
-webkit-transition: all 400ms linear 0s;
-o-transition: all 400ms linear 0s;
transition: all 400ms linear 0s;
}

.footer_social li:first-child {
margin-left: 8px;
}

.footer_social li:hover a {
color: #d91522;
}

#fp-nav {
right: 32px !important;
}

#fp-nav ul li {
height: 15px;
width: 15px;
margin: 0px;
margin-bottom: 10px;
}

#fp-nav ul li a span {
background: #d9d9d9;
height: 10px;
width: 10px;
margin: -2px 0 0 -4px;
border-radius: 50%;
-webkit-transition: all 400ms linear 0s;
-o-transition: all 400ms linear 0s;
transition: all 400ms linear 0s;
}

#fp-nav ul li a.active span {
background: #d91522;
height: 15px;
width: 15px;
}

#fp-nav ul li a:hover span {
margin: -2px 0 0 -4px !important;
}

#fp-nav ul li:last-child {
margin-bottom: 0px;
}

.border_none .footer_widgets {
border-top: none;
}

.box_footer {
background: #fff;
}

.box_footer .footer_widgets {
border: none;
}