<br>
<div class="row">
 
  
    <div class="col-md-12">

    <div class="row">
        <div class="col-md-12">
           <div *ngIf="cartItems.length > 0">
            <table class="table table-bordered">
                <thead class="bg-dark text-light">
                    <tr>
                        <th width="20%">Cloth Image</th>
                        <th width="50%">Cloth Details</th>
                        <th width="30%"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cartItem of cartItems">
                        <td>
                            <img [src]="cartItem.imageUrl" class="img-responsive" width="150">
                        </td>
                        <td>
                            <p>{{cartItem.name}}</p>
                            <p>{{ cartItem.unitPrice | currency: 'INR'}}</p>
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-md-12">
                                    <p>Quantity :  
                                        <!-- remove or trash icon -->
                                        <span (click)="remove(cartItem)" class="float-right pointer text-danger">
                                            <i class="fas fa-trash-alt"></i>
                                        </span> 
                                    </p>
                                </div>
                                <div class="col-md-4">
                                    <!-- increment icon -->
                                    <button (click)="incrementQuantity(cartItem)" class="btn btn-primary btn-sm float-left">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                                <div class="col-md-4 text-center">
                                    {{cartItem.quantity}}
                                </div>
                                <div class="col-md-4">
                                     <!-- decrement icon -->
                                    <button (click)="decrementQuantity(cartItem)" class="btn btn-primary btn-sm float-right">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>
                                <div class="col-md-12 mt-2">
                                    <p>Subtotal: {{cartItem.quantity * cartItem.unitPrice | currency: 'INR'}}</p>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td class="font-weight-bold">
                            <p>Total Quantity : {{totalQuantity}}</p>
                            <p>Shipping : FREE</p>
                            <p>Total Price: {{totalPrice | currency: 'INR'}}</p>
                            <a routerLink="/checkout" class="btn btn-primary">Checkout</a>
                        </td>
                    </tr>
                </tbody>
            </table>
           </div>
           <div *ngIf="cartItems.length == 0" class="alert alert-warning" role="alert">
            Your Cart Is Empty
           </div>
    </div>
</div>
    </div>

</div>