<br>

<div class="row">


    <div class="col-lg-12">
        <div class="row">
            <!-- to display the image -->
            <div class="col-12 col-md-4">
                <div class="thumbnail">
                    <img src="{{cloth.imageurl}}" width="250" height="320"/>

                </div>

            </div>
            <!-- to display the information -->
            <div class="col-12 col-md-8">
                <h3>{{cloth.name}}</h3>
                <hr/>

                <p>{{cloth.description}}</p>
                <hr/>

                <h4>price: <strong>{{cloth.unitPrice | currency: 'INR'}}</strong></h4>
                <hr/>
                <h6>Qty.Available: {{cloth.unitsInStock}}</h6>

                <a class="fa fa-heart text-danger" (click)="addToWishList()" ></a>
                &nbsp;

                <a routerLink="/clothes" class="btn btn-success">
                    <i class="fas fa-arrow-left"></i>Back
                </a>
                

                <button (click)="addToCart()" class="btn btn-primary ml-1">
                    <i class="fas fa-cart-arrow-down"></i>Add to cart
                </button>
            </div>
        </div>

        <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->
    </div>