 <div class="nav-item dropdown">

  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   Category
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <a [routerLink] ="'/category/'+category.id" *ngFor="let category of clothesCategory" class="dropdown-item" 
      routerLinkActive=" bg-primary text-white font-weight-bold">{{category.categoryname}}</a>
 
  </div>
      
     
    </div>