<br> <br>
    <div class="background"> <br> 
        <h1 class="text-center text-dark">Welcome!</h1>
        <div class="container">

            <div class="card card-container">

                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane active in " id="home">
                        <form id="tab">
                            <h3 class="text-center text-dark"><strong>Username:</strong> {{info.username}} </h3> <br> 
                            
                            <h3 class="text-center text-dark"><strong>Role:</strong> {{info.authorities}} </h3>
                        </form>
                    </div>
                </div>

            </div>
     
            <a *ngIf="authority === 'admin'" >
                <button class="btn btn-primary" routerLink="/addClothes">Add Products</button>
            </a>
            &nbsp;
            <a *ngIf="authority === 'admin'" >
                <button class="btn btn-primary ml-4" routerLink="/admin">Manage Products</button>
            </a>
                    
        </div>

    </div>
    
    