<br><br>
<div class="mybackground">
<div *ngIf="isLoggedIn; else loggedOut">
  <h3 class="text-center"><strong>User with Username : {{username}} is already logged in..</strong> <br>
    <button class="text-center" routerLink="/profile" >Go to your Profile</button>
    <button class="text-center" routerLink="/clothes" >Home Page</button>
  </h3>

</div>


<ng-template #loggedOut>

  <div class="container ">
    <div class="card card-container">
        <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
        <p id="profile-name" class="profile-name-card"></p>
        <form class="form-signin" name="form" (ngSubmit)="f.form.valid && onSubmit()"
         #f="ngForm" novalidate>
        
            <input type="text"  class="form-control" placeholder="Username" name="username" [(ngModel)]="form.username"
             #username="ngModel" required autofocus/>
            <div *ngIf="f.submitted && username.invalid">
              <div class="text-danger" *ngIf="username.errors.required">Username is required</div>
            </div>
            <input type="password"  class="form-control" placeholder="Password" name="password" [(ngModel)]="form.password" 
            #password="ngModel" required minlength="6" >
            <div *ngIf="f.submitted && password.invalid">
              <div class="text-danger" *ngIf="password.errors.required">Password is required</div>
              <div class="text-danger" *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
            </div>
            <div id="remember" class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
            <div *ngIf="f.submitted && isLoginFailed"  class="alert alert-danger">
              Login failed: {{errorMessage}}
              
            </div>
        </form><!-- /form -->
        <a href="#" class="forgot-password">
            Forgot the password?
        </a>
    </div><!-- /card-container -->
  </div>

</ng-template>
</div>
 